/* Classes to center content in containers */
body {
  margin-top: 10px;
  margin-bottom: 10px;
}

.body {
  position: relative; top: -300px;
}

h3 {
  visibility: hidden;
}

.Outcomes {
  position: relative; left: 0%;
  visibility: visible;
  page-break-before: auto;
  page-break-after: auto;
  page-break-inside: avoid;
}

.topmargin {
  margin-top: 50px;
}

.input-field {
  position: relative; top: -100px;
}

.container {
  position: relative; height: 100px;
  left: 33%;
}

.center {
  width: 100%;
  margin: 0; position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

/* Input Styling */
  input[type=number] {
  width: 150px;
  float: left;
  padding: 12px 20px 12px 40px;
} 

/* Table styling */
#Amortization {
    font-family: Arial;
    border-collapse: collapse; width: 100%;
    margin-left: auto; margin-right: auto;
    margin-bottom: 50px; margin-top: 100px;
  }
  
  #Amortization th {
    border: none;
    padding: 8px;
    padding-top: 12px; 
    padding-bottom: 12px;
    text-align: center;  
    color: black;
  }

  tr {
    text-align: center; font-size: small;
    height: 30px;
  }

  /* Button */
  button, input {
    visibility: hidden;
  }

  .noprint {
    visibility: hidden;
  }

  tr { page-break-inside: avoid; page-break-before: avoid;
       page-break-after: always }