/* h1 tag style */
h1, h2, h3 {
    text-align: center;
}
/* p tag style */
p {
    padding-left: 25px;
}
/* Label tag style */
label {
    display: inline-block; color: white;
    font-size: small;
}
/* Classes to center content in containers */

.Outcomes {
  position: relative; left: 14%;
  visibility: hidden;
}

.body {
  position: relative; top: 100px;
}

.container {
    position: relative; height: 75px;
    margin-bottom: 50px; margin-top: 25px;
  }
.center {
    margin: 0; position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.container1 {
  position: relative; height: 25px;
}
.center1 {
  margin: 0; position: absolute;
  top: 0%; left: 50%;
  transform: translate(-50%, 250%);
  padding-bottom: 50px;
}
.topmargin {
  margin-top: 50px;
}
/* Button style */
.buttonalign {
  transform: translate(25%, 25%);
}
/* Table styling */
#Amortization {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse; width: 70%;
    margin-left: auto; margin-right: auto;
    margin-bottom: 50px; margin-top: 100px;
    box-shadow: 2px 2px rgb(153, 153, 153);
  }
  
  #Amortization td, #Amortization th {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
  }
  
  #Amortization tr:nth-child(even){background-color:black}
  #Amortization tr:nth-child(odd){background-color: rgb(79, 79, 79);}
  
  #Amortization tr:hover {background-color: #ddd;
                           color: black;}
  
  #Amortization th {
    padding-top: 12px; padding-bottom: 12px;
    text-align: center; background-color: rgb(79, 79, 79);
    color: white;
  }

  tr, th, td {
    text-align: center;
  }

  input {
    font-size: 9pt;
    float: left;
    width: 150px;
    height: 35px;
    padding: 10px 10px;
    transition: width 0.4s ease-in-out;
    box-shadow: 1px 1px rgb(153, 153, 153);
    border-radius: 2.5px;
  }

  input:focus {
    width: 200px;
  }

  input:hover {
    background-color: rgba(79, 79, 79, 0.9);
    color: white;
  }

  input:hover::placeholder {
    color: white; 
  }

  input::placeholder {
    font-size: x-small;
  }

  ::placeholder {
    font-size: small;
    text-align: left;
  }

  /* Button */
  button {
    border-radius: 10px; background-color: rgb(79, 79, 79);
    color: white; box-shadow: 1px 1px rgb(153, 153, 153);
    margin-right: 25px;
  }

  button:hover {
    background-color: white; color: black;
  }

/* navbar */
nav{
  color: #FFF;
  float: right;
  margin:30px 90px;
}
nav ul{
  list-style: none;
}
nav ul li {
  float: left;
  transition: .3s;
}
nav ul li a{
  text-decoration: none;
  color: #EFEEF5;
  transition: .5;
  font-size: 15px;
  margin-left:16px;
}
nav ul li:hover a{
  text-decoration: none;
  color: rgb(79, 79, 79);
}
nav ul li:hover{
  height: 45px;
  padding-top: 30px;
  margin-top: -30px;
  background: #EFEEF5;
  text-decoration: none;
  transform: skew(15deg);
}
.currentLink {
  color: grey;
}

/* Background */

  /* Body tag style */
  body {
  background-color: #000000;
  color: white;
}

.circle{
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
  z-index: -1;
}

.small{
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
  z-index: -1;
}

.medium{
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
  z-index: -1;
}

.large{
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
  z-index: -1;
}

.xlarge{
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
  z-index: -1;
}

.xxlarge{
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
  z-index: -1;
}

.shade1{
  opacity: 0.2;
}
.shade2{
  opacity: 0.5;
}

.shade3{
  opacity: 0.7;
}

.shade4{
  opacity: 0.8;
}

.shade5{
  opacity: 0.9;
}

@keyframes ripple{
  0%{
    transform: scale(0.8);
  }
  
  50%{
    transform: scale(1.2);
  }
  
  100%{
    transform: scale(0.8);
  }
}

@media screen and (max-width: 1100px) {
  .info {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .info li {
    display: block;
    font-size: 20px;
    padding: 20px 10%;
  }

  input {
    float: left;
    width: 100%;
    padding: 10px 10px;
    transition: width 0.4s ease-in-out;
  }

  input:focus {
    width: 100%;
  }
  
  .body {
    position: relative; top: 150px;
  }
}
