/* h1 tag style */
h1, h2, h3 {
    text-align: center;
}
/* p tag style */
p {
    padding-left: 25px;
    margin: 1em;
}
/* Label tag style */
label {
    display: inline-block; color: white;
    font-size: small;
}
hr {
  visibility: hidden;
}
/* Classes to center content in containers */

.Outcomes {
  position: relative; left: 12.5%;
  visibility: hidden;
}

.body {
  position: relative; top: 50px;
}

.results-field {
  position: relative; top: 0px;
}

.container {
    position: relative; height: 75px;
    margin-bottom: 50px; margin-top: 25px;
  }
.center {
    margin: 0; position: absolute;
    top: 50%; left: 50%;
    width: 75%;
    transform: translate(-50%, -50%);
}
.topmargin {
  margin-top: 50px;
}
/* Button style */
.buttonalign {
  transform: translate(25%, 25%);
}
/* Table styling */
#Income {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse; width: 70%;
    margin-left: auto; margin-right: auto;
    margin-bottom: 50px; margin-top: 100px;
    box-shadow: 2px 2px rgb(153, 153, 153);
    position: relative;
  }
  
  #Income td, #Income th {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
  }
  
  #Income tr:nth-child(even){background-color:black}
  #Income tr:nth-child(odd){background-color: rgb(79, 79, 79);}
  
  #Income tr:hover {background-color: #ddd;
                           color: black;}
  
  #Income th {
    padding-top: 12px; padding-bottom: 12px;
    text-align: center; background-color: rgb(79, 79, 79);
    color: white;
  }

  tr, th, td {
    text-align: center;
  }

  /* Input and select styling Styling */

  .info {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .info li {
    display: inline-block;
    font-size: 20px;
    padding: 20px 0px;
  }

  .info-selectors {
    list-style-type: none;
    text-align: center;
  }
  
  .info-selectors li {
    display: inline-block;
    font-size: 20px;
    padding: 20px 100px;
  }

  select {
    width: 150px;
    font-size: x-small;
    height: 25px;
    border-radius: 5px;
  }

  input {
    font-size: 9pt;
    float: left;
    width: 150px;
    height: 35px;
    padding: 10px 10px;
    transition: width 0.4s ease-in-out;
    box-shadow: 1px 1px rgb(153, 153, 153);
    border-radius: 2.5px;
  }
  
  input:focus {
    width: 200px;
  }

  input:hover {
    background-color: rgba(79, 79, 79, 0.9);
    color: white;
  }

  input:hover::placeholder {
    color: white; 
  }

  input::placeholder {
    font-size: x-small;
  }

  ::placeholder {
    font-size: small;
    text-align: left;
  }

  /* Button */
  button {
    background-color: #38495a;
    color: white;
    border: 1px solid black;
    margin-right: 10px;
  }

  button:hover {
    background-color: white; color: black;
    cursor: pointer;
  }

/* Nav Bar */
.topnav {
  position: relative;
  overflow: hidden;
  background-color: none;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #38495a;
  color: white;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

html {
  background-color: black;
  color: white;
}

/* Footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #38495a;
  width: 100%;
  color: white;
  font-size: x-small;
  text-align: center;
}

.footer-left {
  padding: 0px 10px;
  float: left;
}

.footer-right {
  padding: 0px 10px;
  float: right;
}

.footer-centered {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 825px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
  
  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .info-selectors {
    list-style-type: none;
    text-align: center;
  }
  
  .info-selectors li {
    display: block;
    font-size: 20px;
  }

  .info {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .info li {
    display: block;
    font-size: 20px;
    padding: 20px 10%;
  }

  input {
    float: left;
    width: 100%;
    padding: 10px 10px;
    transition: width 0.4s ease-in-out;
  }

  input:focus {
    width: 100%;
  }
  
  .body {
    position: relative; top: 200px;
  }

  .results-field {
    position: relative; top: 200px;
  }

  .Outcomes {
    position: relative; top: 200px;
  }

}
