/* Responsive navigation menu (for mobile devices) */
@media (max-width: 975px), (max-height: 560px) {
    
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
    
  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
  
  h1 {
    font-size: 20px;
  }
  
  .body {
    position: relative; top: 300pt;
  }

  html {
    margin-bottom: 25vh;
  }

  fieldset {
    margin-bottom: 275pt;
  }

}

@media (min-width: 975px) and (min-height: 560px) {
       
  .body {
    position: relative; top: 275pt;
  }
  
  html {
    margin-bottom: 25vh;
  }
  
  fieldset {
    margin-bottom: 250pt;
  }
 
}

/* Table styling */
#Income {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse; width: 70%;
  margin-left: auto; margin-right: auto;
  margin-bottom: 50px; margin-top: 100px;
  box-shadow: 2px 2px rgb(153, 153, 153);
  position: relative;
}

#Income td, #Income th {
  border: 1px solid rgb(0, 0, 0);
  padding: 8px;
}

#Income tr:nth-child(even){background-color:black}
#Income tr:nth-child(odd){background-color: rgb(79, 79, 79);}

#Income tr:hover {background-color: #ddd;
                         color: black;}

#Income th {
  padding-top: 12px; padding-bottom: 12px;
  text-align: center; background-color: rgb(79, 79, 79);
  color: white;
}

tr, th, td {
  text-align: center;
}