/* h1 tag style */
h1, h2, h3 {
    text-align: center;
  }
  
/* p tag style */
p {
  padding-left: 25px;
  margin: 1em;
}

/* Label tag style */
label {
  display: inline-block; color: white;
  font-size: small;
}

hr {
  visibility: hidden;
  width: 100%; 
}
  
html {
  background-color: black;
  color: white;
  margin-bottom: 25vh;
  overflow: auto;
  overflow-x: hidden;
}

/* Containers */

.Outcomes {
  position: relative; left: 12.5%;
  top: 15vh;
  visibility: hidden;
}

.container {
  position: relative; height: 75px;
  margin-bottom: 0px; margin-top: 25px;
}

.center {
  margin: 0; position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

/* Button style */
.buttonalign {
  transform: translate(25%, 25%);
}

button {
  background-color: #38495a;
  color: white;
  border: 1px solid black;
  margin-right: 10px;
}

button:hover {
  background-color: white; color: black;
  cursor: pointer;
}

/* Select and Input Styling */
select {
  width: 150px;
  font-size: small;
  height: 35px;
  border-radius: 5px;
}

input {
  font-size: 9pt;
  float: left;
  width: 150px;
  height: 35px;
  padding: 10px 10px;
  transition: width 0.4s ease-in-out;
  box-shadow: 1px 1px rgb(153, 153, 153);
  border-radius: 2.5px;
}

input:hover {
  background-color: rgba(79, 79, 79, 0.9);
  color: white;
}

input:hover::placeholder {
  color: white; 
}

input::placeholder {
  font-size: x-small;
}

input[type=number]:disabled {
  background: red;
}

select:disabled {
  background: red;
  color: black;
}

input:disabled::-webkit-input-placeholder {
  color: black;
}

/* Fieldset Styling */
fieldset {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  min-width: 500px;
  max-width: 500px;
  border: 2px groove;
}
    
  fieldset legend {
  font-size: x-large;
  font-weight: bold;
}
    
  fieldset p {  
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: -25%; 
}
    
fieldset input, fieldset select, fieldset label {
  display: table-cell;
}
    
fieldset input, fieldset select {
  min-width: 250px;
}
    
fieldset label {
  display: inline-block;
  float: left;
  clear: left;
  width: 250px;
  text-align: right;
  vertical-align: middle;
  font-size: small;
}
